// Colours
// $teal: rgb(12, 230, 130);
$teal: #0ce682;
$dark: #19181b;
$dark-fade: rgba(26, 23, 26, 0.6);
$white: #fff;
$light-fade: rgba(217,217,217,0.8);

// Functional Colours

$accent: $teal;
$subheader: $dark;
$paragraph: $dark-fade;
$base-color: $white;
$header-description: $light-fade;

// Fonts




// Font Weights

// Mixins